<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration debug="true" scan="true">-->
<configuration scan="true">

    <!-- Property SETUP   -->

    <property name="LOG_BASEDIR" value="./logs"/>
    <property name="LOG_FILE" value="application"/>
    <property name="LOG_FILE_MAX_HISTORY" value="180"/>
    <property name="LOG_FILE_MAX_SIZE" value="10MB"/>

    <!-- Console Appender -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight([%-5level]) %magenta(\(%thread\)) [%logger{999}.%M]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASEDIR}/${LOG_FILE}.log</file>
        <encoder>
            <pattern>
                %d{YYYY-MM-dd HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n
            </pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_BASEDIR}/${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_MAX_SIZE}</totalSizeCap>
        </rollingPolicy>

        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>3GB</maxFileSize>
        </triggeringPolicy>
    </appender>

<!--    <appender name="HTML-FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
<!--            <layout class="ch.qos.logback.classic.html.HTMLLayout">-->
<!--                <pattern>%d{YYYY-MM-dd HH:mm:ss}%relative%thread%mdc%level%logger%msg</pattern>-->
<!--            </layout>-->
<!--        </encoder>-->
<!--        <file>src/main/webapp/index.html</file>-->
<!--    </appender>-->

    <logger name="dk.lyngby" level="INFO"/>


    <logger name="dk.lyngby" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="dk.lyngby" level="DEBUG">
        <appender-ref ref="HTML-FILE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
